@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.contact-wrapper {
    height: 100vh;
    background-color: rgb(6, 1, 22);
}

.contact-content {
    // height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh 1fr;
    justify-items: center;
    align-items: center;
}

.contact-background {
    margin-left: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	// background-color: #111;
	font-family: "Montserrat";
}

.contact-card-container {
	min-width: 550px;
	min-height: 350px;
	border-radius: 20px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 20px 50px;
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.contact-card-content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.5em;
}
.contact-card-content h1 {
	position: relative;
}
.contact-card-content p {
	margin-top: 50px;
	line-height: 2em;
}
.contact-card-content h1:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	background-color: #3e3;
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.front {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
    // background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
    background-image: url('../img/space-kitty.jpg');
}
.back {
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
}
.contact-card-container:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.back h1 {
	margin: 0;
}


  @media only screen 
  and (min-device-width : 350px) 
  and (max-device-width : 812px)
  and (-webkit-device-pixel-ratio : 3) {

    // .contact-wrapper {
    //     height: 100vh;
    //     // background-image: url('../img/astronaut.jpg_fit=scale');
    //     // background-size: cover;
    // }
    .contact-content {
        height: 80vh;
        background-image: url('../img/astronaut.jpg_fit=scale');
        background-size: 600px 700px;
        // background-repeat: no-repeat;
        color: white;
        font-family: 'Dosis', sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 30vh 20vh;
        justify-items: center;
        align-items: center;
    }
    
    .contact-card {
        margin-top: 30%;
        margin-right: 0%;
        padding: 4%;
        background-color:white;
        color: black;
        border: 3px solid navy;
        border-radius: 15px;
        grid-column: 1;
        grid-row: 1;
    }
    .contact-footer {
        width: 100%;
        grid-column: 1;
        grid-row: 4;
    }
    
    .separator {
        width: 90%;
        height: 1px;
        background-color: #AFCAD5;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
      }

  }

  //iphone 6/7/8
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

    .contact-content {
        height: 80vh;
        background-image: url('../img/astronaut.jpg_fit=scale');
        background-size: 600px 700px;
        // background-repeat: no-repeat;
        color: white;
        font-family: 'Dosis', sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 30vh 20vh;
        justify-items: center;
        align-items: center;
    }
    
    
    .contact-card {
        margin-top: 40%;
        margin-right: 0%;
        padding: 4%;
        background-color:white;
        color: black;
        border: 3px solid navy;
        border-radius: 15px;
        grid-column: 1;
        grid-row: 1;
    }
    .contact-footer {
        width: 100%;
        grid-column: 1;
        grid-row: 4;
    }
    
    .separator {
        width: 90%;
        height: 1px;
        background-color: #AFCAD5;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
      }
}
  
